
FULiveDemo/.DS_Store

*/xcuserdata/*

*.xcuserstate
*.DS_Store
FULiveDemo/DemoCode/.DS_Store

FULiveDemo/DemoCode/.DS_Store

FULiveDemo/Faceunity/.DS_Store

FULiveDemo/Faceunity/FaceUnity-SDK-iOS/.DS_Store
