<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>itemName</key>
		<string>口红</string>
		<key>items</key>
		<array>
			<string>口红01</string>
			<string>口红02</string>
			<string>口红03</string>
			<string>口红04</string>
			<string>口红05</string>
			<string>口红06</string>
		</array>
	</dict>
	<dict>
		<key>itemName</key>
		<string>腮红</string>
		<key>items</key>
		<array>
			<string>腮红01</string>
			<string>腮红02</string>
			<string>腮红03</string>
			<string>腮红04</string>
			<string>腮红05</string>
			<string>腮红06</string>
			<string>腮红07</string>
			<string>腮红08</string>
			<string>腮红09</string>
			<string>腮红10</string>
		</array>
	</dict>
	<dict>
		<key>itemName</key>
		<string>眉毛</string>
		<key>items</key>
		<array>
			<string>眉毛01</string>
			<string>眉毛02</string>
			<string>眉毛03</string>
			<string>眉毛04</string>
			<string>眉毛05</string>
			<string>眉毛06</string>
		</array>
	</dict>
	<dict>
		<key>itemName</key>
		<string>眼影</string>
		<key>items</key>
		<array>
			<string>眼影01</string>
			<string>眼影02</string>
			<string>眼影03</string>
			<string>眼影04</string>
			<string>眼影05</string>
			<string>眼影06</string>
		</array>
	</dict>
	<dict>
		<key>itemName</key>
		<string>眼线</string>
		<key>items</key>
		<array>
			<string>眼线01</string>
			<string>眼线02</string>
			<string>眼线03</string>
			<string>眼线04</string>
			<string>眼线05</string>
			<string>眼线06</string>
		</array>
	</dict>
	<dict>
		<key>itemName</key>
		<string>睫毛</string>
		<key>items</key>
		<array>
			<string>睫毛01</string>
			<string>睫毛02</string>
			<string>睫毛03</string>
			<string>睫毛04</string>
			<string>睫毛05</string>
			<string>睫毛06</string>
		</array>
	</dict>
	<dict>
		<key>itemName</key>
		<string>美瞳</string>
		<key>items</key>
		<array>
			<string>美瞳01</string>
			<string>美瞳02</string>
			<string>美瞳03</string>
			<string>美瞳04</string>
			<string>美瞳05</string>
			<string>美瞳06</string>
		</array>
	</dict>
</array>
</plist>
